@model IEnumerable<StageSyncApp.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

@{
    var loggedInUser = User.Identity.Name;
    string venueName = "";

    if (loggedInUser == "thelunarlounge@venue.com")
    {
        venueName = "The Lunar Lounge";
    }

}
<header>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>
</header>

<div class="booking-container">
    <h1 class="booking-title">Hi @venueName!</h1>
    <table class="table">
        <thead>
            <tr>
    @*             <th>
                    @Html.DisplayNameFor(model => model.VenueName)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.StageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDate)
                </th>
                <th>
                    Artist
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @* 
            @{
                var loggedInUser = User.Identity.Name;
                string venueName = "";

                if (loggedInUser == "thelunarlounge@venue.com")
                {
                    venueName = "The Lunar Lounge";
                }

            } *@
    @foreach (var item in Model) {
                if (item.VenueName == venueName && item.ArtistId == null)
                {
            <tr>
    @*             <td>
                    @Html.DisplayFor(modelItem => item.VenueName)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.StageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    Not booked yet
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                    @* <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> | *@
                    @* <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a> *@
                </td>
            </tr>
                    }
                    else {
                <tr>
    @*                 <td>
                        @Html.DisplayFor(modelItem => item.VenueName)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.StageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist.ArtistName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                        @* <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> | *@
                        @* <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a> *@
                    </td>
                </tr>
                    }}
        </tbody>
    </table>
</div>