@model IEnumerable<StageSyncApp.Models.Booking>

<header>
    <div class="header-logo-container">
        <h1 class="header-logo">
            Stage Sync
        </h1>
    </div>
    <div class="header-links-container">
        <a class="header-link" asp-controller="Bookings" asp-action="Logout">
            <p class="link-text">
                Log out
            </p>
        </a>
        <span class="divider">
            /
        </span>
        <a class="header-link" asp-controller="Bookings" asp-action="Index">
            <p class="link-text">
                Overview
            </p>
        </a>
        <span class="divider">
            /
        </span>
        <a class="header-link" asp-controller="Bookings" asp-action="Booked">
            <p class="link-text">
                Bookings
            </p>
        </a>
        <span class="divider">
            /
        </span>
        <a class="header-link" asp-controller="Bookings" asp-action="Unbooked">
            <p class="link-text underlined">
                Unbooked
            </p>
        </a>
    </div>
</header>


<div class="overview-container">
    <h1 class="booking-title">
        Unbooked
    </h1>
    <p class="info-text">
        Here you find all your event dates where you haven't booked an artist yet
    </p>

    @{
        var juneList = Model.OrderBy(item => item.BookingDate).Where(item => item.BookingDate.Month == 6);
        var julyList = Model.OrderBy(item => item.BookingDate).Where(item => item.BookingDate.Month == 7);

        bool hasJuneElements = juneList.Any();
        bool hasJulyElements = julyList.Any();
    }

    <div class="booked-container">
        @if(hasJuneElements)
        {
            <div class="booked-grid-item month-container">
                <h2 class="month-heading">
                    JUNE
                </h2>
            </div>
            <div class="booked-grid-item">
                @foreach (var item in juneList) {
                    <div class="booked-wrapper">
                        <div class="item-wrapper item-title">
                            <h3>
                                Date
                            </h3>
                        </div>
                        <div class="item-wrapper">
                            <p class="booking-grid-text">
                                @Html.DisplayFor(modelitem => item.BookingDate)
                            </p>
                        </div>
                        <div class="item-wrapper item-title">
                            <h3>
                                Stage
                            </h3>
                        </div>
                        <div class="item-wrapper">
                            <p class="booking-grid-text">
                                @Html.DisplayFor(modelitem => item.StageName)
                            </p>
                        </div>
                        <div class="item-wrapper item-title">
                            <h3>
                                Artist
                            </h3>
                        </div>
                        <div class="item-wrapper">
                            <a asp-action="Edit" asp-route-id="@item.BookingId" class="booking-grid-text alter-link">
                                Book Artist
                            </a>
                        </div>
                    </div>
                }
            </div>
        } else
        {

        }

        @if (hasJulyElements)
        {
            <div class="booked-grid-item month-container">
                <h2 class="month-heading">
                    JULY
                </h2>
            </div>
            <div class="booked-grid-item">
                @foreach (var item in julyList) {
                    <div class="booked-wrapper">
                        <div class="item-wrapper item-title">
                            <h3>
                                Date
                            </h3>
                        </div>
                        <div class="item-wrapper">
                            <p class="booking-grid-text">
                                @Html.DisplayFor(modelitem => item.BookingDate)
                            </p>
                        </div>
                        <div class="item-wrapper item-title">
                            <h3>
                                Stage
                            </h3>
                        </div>
                        <div class="item-wrapper">
                            <p class="booking-grid-text">
                                @Html.DisplayFor(modelitem => item.StageName)
                            </p>
                        </div>
                        <div class="item-wrapper item-title">
                            <h3>
                                Artist
                            </h3>
                        </div>
                        <div class="item-wrapper">
                            <a asp-action="Edit" asp-route-id="@item.BookingId" class="booking-grid-text alter-link">
                                Book Artist
                            </a>
                        </div>
                    </div>
                }
            </div>
        } else
        {
            
        }

    </div>
</div>